<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Loan Approval System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">


</head>
<body>

  <div class="home_window">
    <p class="welcome-text">Welcome to the Loan Approval System</p>
    <button class="home_button" id="start-btn" data-url="{{ url_for('views.forms') }}" type="button"> Get Started </button>
  </div>


</body>
</html>
